.hero {
	@extend .row;
	@include clearfix;
	padding-top: 55px;

	.hero-inner {
		padding: 3% 2em;
	}

	label, input, select, textarea {
		display: inline;
		width: auto;
	}

	.widget {
		margin-bottom: 1em;
		font-size: 2em;
		font-weight: 300;
		background-color: transparent;

		&::last-child {
			margin-bottom: 0;
		}

		@media screen and (max-width: 900px) {
			font-size: 1.5em;
			padding-right: 0;
		}

		blockquote{
			color: white;
		}

		ul, ol {
			padding-left: 0;

			li {
				list-style: none;
			}
		}

		input, select, textarea {
			color: #999;
		}
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p,
	cite,
	table,
	ul,
	li,
	dd,
	dt,
	address,
	code,
	pre{
		color: #fff;
	}

	blockquote.large {
		border: none;
		padding: 50px 0;

		p {
			font-size: rem-calc(33);
			font-weight: 400;
			font-family: 'Playfair Display', $sans-font-family;
			font-style: normal;
			text-align: center;
		}

		cite {
			font-style: normal;
			text-transform: uppercase;
			font-family: $sans-font-family;
			font-size: rem-calc(14);
			text-align: center;
		}
	}

	@media #{$large-up} {
		.widget_text {
			@include clearfix;

			blockquote.large {
				float: right;
				width: 50%;
				p {
					font-size: rem-calc(48);
					text-align: auto;
				}
				cite {
					font-size: rem-calc(20);
				}
			}

		}
	}
}