$menu-background-color: #202223;

.main-navigation-container {
	position: relative;
}

.menu-toggle {
	float: right;
	padding: .5em 0.875em 1em;
	cursor: pointer;
	width: auto;

	div {
		background: #fff;
		height: 4px;
		margin: 6px;
		width: 30px;
	}
}

.main-navigation {
	background-color: $menu-background-color;
	clear: both;
	display: none;
	font-family: $menu-font-family;
	position: relative;

	.menu {
		position: absolute;
		z-index: 1000;
		width: 100%;
		background-color: $menu-background-color;
	}

	ul {
		margin: 0;
		list-style: none;
	}

	a {
		color: $primary-color;
		display: block;
		font-weight: normal;
		text-transform: uppercase;
		padding: .75em 1em;
		font-size: 16px;
	}

	.sub-menu a {
		padding-left: 2em;
	}

	.sub-menu .sub-menu a {
		padding-left: 3em;
	}

}

@media #{$medium-up} {
	.menu-toggle {
		display: none;
	}

	.main-navigation {
		background-color: transparent;
		display: block;
		clear: none;
		float: right;
		margin-top: 5px;

		.menu {
			position: relative;
		}

		li {
			display: block;
			float: left;
			margin: 0 .75em;

			&.menu-item-has-children:hover > .sub-menu {
				display: block;
			}

			a {
				color: #fff;
				border-bottom: 2px solid transparent;
				padding: 0 0 5px;
			}

			&.current-menu-item > a,
			> a:hover {
				border-bottom: 2px solid #fff;
			}

		}

		.sub-menu {
			display: none;
			position: absolute;
			width: 250px;
			z-index: 100;
			padding-top: 0.5em;

			li {
				background-color: $menu-background-color;
				float: none;
				position: relative;
				margin: 0;

				&.menu-item-has-children > a:after {
					width: 0;
					height: 0;
					border-bottom: 7px solid transparent;
					border-top: 7px solid transparent;
					border-left: 7px solid contrast-color($menu-background-color, #000, #fff, 50%);
					font-size: 0;
					line-height: 0;
					content: "";
					position: absolute;
					right: 10px;
					top: 50%;
					transform: translateY(-50%);
				}

				&.current-menu-item a,
				a:hover {
					border-bottom: 0;
					background-color: rgba(0,0,0,0.1);
				}
			}

			.sub-menu {
				left: 100%;
				top: 0;
			}

			a,
			.sub-menu a {
				color: $primary-color;
				padding: .75em 1em;
				border-bottom: 0;
			}
		}
	}
}

@media #{$large-up} {
	.main-navigation {
		margin-top: 10px;
	}
}

/**
 * Site Info menu
 */
.site-info-menu {
	ul {
		list-style-type: none;
		margin: 0;
		display: block;
		li {
			display: inline-block;
			margin: 0 20px;
			a {
				color: rgba(254, 255, 255, 0.231);
				display: block;
				text-shadow: 0px 4px 0px rgba(0, 0, 0, 0.15);
				font-size: rem-calc(16);
				text-transform: uppercase;
				padding-bottom: 5px;
				font-weight: bold;

				&.current-menu-item,
				&:hover {
					padding-bottom: 3px;
					color: rgba(254, 255, 255, 0.231);
					border-bottom: 2px solid rgba(254, 255, 255, 0.231);
				}
			}
		}
	}
}

/**
 * Post navigation
 */
.navigation {
	@extend .row;

	.nav-links {
		@extend .large-12;
		@extend .columns;
		margin-bottom: 1.5em;
		margin-bottom: 1.5rem;
		padding: 0;
	}
}

.comment-navigation .nav-previous,
.paging-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.paging-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}
