/*--------------------------------------------------------------
>>> Gutenberg:
--------------------------------------------------------------*/
[class^="wp-block-"].alignfull {
	width: 100vw;
	position: relative;
	left: 50%;
	right: 50%;
	margin-left: -50vw;
	margin-right: -50vw;

	img {
		width: 100%;
	}
}

[class^="wp-block-"].alignwide {
	margin-left: 0;
	margin-right: 0;
	width: 100%;
}

.wp-block-image,
.wp-block-gallery,
.wp-block-video,
.wp-block-quote,
.wp-block-text-columns,
.entry-content ul,
.entry-content ol,
.wp-block-cover-text {
	&.alignleft {
		margin: 0 1em 0.5em 0;
	}

	&.alignright {
		margin: 0 0 0.5em 1em;
	}

	&.alignleft,
	&.alignright {
		max-width: 40%;
		width: 100%;

		img {
			width: inherit;
		}
	}
}

.wp-block-gallery {
	margin-left: 0;
	margin-right: 0;

	&.is-cropped .blocks-gallery-item img {
		height: auto;
	}
}

.wp-block-quote {
	p {
		margin-bottom: 0;
	}
}

.wp-block-pullquote {
	margin-top: 1em;
	margin-bottom: 1em;
}

.wp-block-button.aligncenter {
	margin-bottom: 1.5em;
}

.wp-block-audio {
	audio {
		width: 100%;
	}
}

.wp-block-columns {
	display: flex;
	margin: 20px 0;
}

.wp-block-column {
	flex: 1;
	margin: 0 10px;

	.wp-block-column {
		margin-left: 0;
	}
}

.wp-block-columns {

	.wp-block-column {
		flex-basis: 100%
	}
}

@media (min-width: 600px) {
	.wp-block-column:nth-child(2n) {
		padding-right: 16px;
	}
}

@media #{$medium-down} {
	.wp-block-columns.has-3-columns {
		flex-flow: row wrap;
	}

	.wp-block-column:nth-child(2n) {
		padding-left: 16px;
	}

	.wp-block-column {
		margin: 0 20px;
		padding-left: 0;
	}

	.has-3-columns .wp-block-column:first-child {
		flex-basis: 100%;
	}
}

@media #{$small-only} {
	.wp-block-columns {
		&.has-1-columns,
		&.has-2-columns,
		&.has-3-columns,
		&.has-4-columns {
			display: block;
		}
	}
	.wp-block-column:not(:first-child) {
		padding-left: 0;
	}
}
