.main-navigation .menu-item-object-cart:hover a {
	background: transparent;
}

ul.site-header-cart.menu {
	width: 100%;
	max-width: 275px;
	padding: 0;
	list-style: none;
	float: right;
	display: none;
	position: relative;
	z-index: 10001;
}

.site-footer-inner .woocommerce-cart-menu-item,
.site-info-wrapper .woocommerce-cart-menu-item {
	display: none;
}

.widget_shopping_cart {

	float: left;
	padding: 0 1rem;
	margin-bottom: .5em;

	.quantity {
		display: block;
		float: left;
		font-style: italic;
	}

	ul.product_list_widget {
		position: relative !important;
		left: 0;
		max-height: 250px;
		overflow-y: auto;
	}

	p.buttons,
	.total,
	.product_list_widget {
		float: left;
		width: 100%;
	}

	.total strong {
		text-index: 0;
	}

	p.buttons {
		padding: .5em;
		margin: 0;
	}

}

.woocommerce-cart-menu-item .sub-menu {
	background: transparent;
}

.woocommerce-cart-menu-item .woocommerce.widget_shopping_cart .cart_list li.mini_cart_item {
	padding: 0;
	margin: 0;
	width: 100%;
	padding-bottom: 5px;
	border-bottom: none;
	padding: .5em 1em;
	text-indent: 0;
	opacity: 1;
	transition: opacity .25s ease-out;
	-moz-transition: opacity .25s ease-out;
	-webkit-transition: opacity .25s ease-out;
	-o-transition: opacity .25s ease-out;

	img {
		width: 100%;
		max-width: 55px;
	}

	a {
		border-bottom: none;
	}

	a:nth-child(2) {
		padding: .5em 0em;
		margin: 0;
		width: 100%;
		text-indent: 1.75rem;
	}

	&:hover {
		opacity: .85;
	}
}

.woocommerce-cart-menu-item {

	.product_list_widget {
		border: none;
		box-shadow: none;
		display: inline-block;
		left: 0 !important;
		background: inherit;
	}

	.widget_shopping_cart {

		padding: 0;
		margin-bottom: 0;

		.total {
			margin: 0 0 10px 0;
			padding-top: 10px;
			text-align: center;
		}

		.total strong {
			text-indent: 0;
		}

		p.buttons a {
			text-align: center;
			width: 100%;
			text-indent: 0;
			background-color: $color-background-button;

			&:first-child {
				margin-bottom: 5px;
			}

		}

	}

	.cart-preview-count {
		margin-left: 8px;
	}

	.cart_list li a.remove {
		position: relative;
		float: left;
		padding: 0;
		margin-top: 18px;
		text-indent: 0;
		margin-right: 5px;
		z-index: 1001;
		line-height: .8;
		text-indent: 0 !important;

		&:hover {
			background: red !important;
		}
	}

}

body.post-type-archive,
body.single-product {

	/* On Sale Badge */
	span.onsale,
	ul.products li.product .onsale {
		padding: 2px 8px;
		border-radius: 0;
		margin: 0;
		min-height: auto;
		min-width: auto;
		line-height: inherit;
	}

}

body.single-product {

	span.onsale {
		padding: 3px 18px;
		top: 0;
		left: 0;
	}

}

li#woocommerce-cart-menu-item li.mini_cart_item a {
	border-bottom: none;
	text-indent: 15px;
	margin-left: 10px;
	color: inherit;
	background: inherit;
}

@media #{$large-up} {

	li#woocommerce-cart-menu-item .sub-menu {
		margin-left: -6em;
	}

}

@media #{$large-down} {

	li #woocommerce-cart-menu-item .widget_shopping_cart {
		width: 100%;
	}

}
