.primer-wc-cart-menu {

	.primer-wc-cart-sub-menu {
		width: 250px;
	}

	.widget_shopping_cart {

		float: left;
		padding: 0;
		margin-bottom: 0;

		.quantity {
			display: block;
			float: left;
			font-style: italic;
		}

		ul.product_list_widget {
			position: relative !important;
			left: 0;
			max-height: 250px;
			overflow-y: auto;
			border: none;
			box-shadow: none;
			display: inline-block;
			background: inherit;
		}

		p.buttons,
		.total,
		.product_list_widget {
			float: left;
			width: 100%;
		}

		.total {
			margin: 0 0 10px 0;
			padding-top: 10px;
			text-align: center;

			strong {
				text-indent: 0;
			}

		}

		p.buttons {
			padding: .5em;
			margin: 0;

			a {
				text-align: center;
				width: 100%;
				text-indent: 0;
				background-color: $color-background-button;

				&:first-child {
					margin-bottom: 5px;
				}
			}
		}

		.cart_list {

			background: transparent;
			box-shadow: none;

			li.mini_cart_item {
				padding: 0;
				margin: 0;
				width: 100%;
				padding-bottom: 5px;
				border-bottom: none;
				padding: .5em 1em;
				text-indent: 0;
				opacity: 1;
				transition: opacity .25s ease-out;

				img {
					width: 100%;
					max-width: 55px;
				}

				a {
					border-bottom: none;
					background: inherit;

					&.remove {
						float: left;
						padding: 0;
						margin: 18px 0 0 15px;
						z-index: 1001;
						line-height: .8;

						&:hover {
							background: red !important;
						}
					}
				}

				a:nth-child(2) {
					padding: .5em 0em;
					margin: 0;
					width: 100%;
					text-indent: 1.75rem;
				}

				&:hover {
					opacity: .85;
				}
			}
		}
	}

	.cart-preview-count {
		margin-left: 8px;
	}
}

body.post-type-archive,
body.single-product {

	/* On Sale Badge */
	span.onsale,
	ul.products li.product .onsale {
		padding: 2px 8px;
		border-radius: 0;
		margin: 0;
		min-height: auto;
		min-width: auto;
		line-height: inherit;
	}

}

body.single-product {

	span.onsale {
		padding: 3px 18px;
		top: 0;
		left: 0;
	}
}

.woocommerce #content table.cart img,
.woocommerce table.cart img,
.woocommerce-page #content table.cart img,
.woocommerce-page table.cart img {
	width: 100%;
	margin-bottom: 0;
}

.woocommerce #content table.cart td.actions .input-text,
.woocommerce table.cart td.actions .input-text,
.woocommerce-page #content table.cart td.actions .input-text,
.woocommerce-page table.cart td.actions .input-text {
	padding: 7px;
}


@media #{$medium-down} {

	.primer-wc-cart-menu .primer-wc-cart-sub-menu {
		width: 100%;
	}

}
